doctype html
html(lang='en')
    head
        title Phone Number
    body
        h1 Phone Number
        ul
        for sms in items
            li
                a(href='/u/'+sms) #{sms}
        else
            li sorry, no books!